aniso8601==8.0.0
apispec==4.0.0
attrs==20.3.0
click==7.1.2
env==0.1.0
Flask==1.1.2
flask-marshmallow==0.14.0
flask-restplus==0.13.0
flask-restplus-marshmallow==0.2.20
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
marshmallow==3.9.1
prometheus-client==0.9.0
prometheus-flask-exporter==0.18.1
psycopg2==2.8.6
pyrsistent==0.17.3
pytz==2020.4
six==1.15.0
webargs==6.1.1
Werkzeug==0.16.1
